@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --slack-color: #3f0e40;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100dvh;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: var(----slack-color); */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  a[role='button'] {
    text-decoration: none;
  }

  button:focus {
    outline: none;
  }

  /* @keyframes autofill {
		0%,
		100% {
			background: transparent;
		}
	}
	
	input:-webkit-autofill {
		animation-delay: 1s;
		animation-name: autofill !important;
		animation-fill-mode: both;
		-webkit-box-shadow: 0 0 0 100px transparent inset !important;
	}
	
	:focus {
		outline-color: transparent;
	} */

  #loading {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(255 255 255);
    border-radius: 50%;
    border-top-color: #0a8d48;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  #loading:hover {
    border: 3px solid #0a8d48;
    border-top-color: rgb(255 255 255);
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}

@layer components {
  .scrollbar-gutter-both-edges {
    scrollbar-gutter: stable both-edges;
  }

  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}
