.title-side-bar {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 20px;
  text-align: center;
}

.anticon-menu-fold,
.anticon-menu-unfold {
  padding: 1rem;
  font-size: 1.2rem;
}

.ant-card-cover img {
  max-height: 20rem;
  max-width: 15rem;
}

/* LOGIN */
.contaiener-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.contaiener-login .ant-card .ant-card-body {
  text-align: center;
}
.contaiener-login img {
  width: 200px;
  height: auto;
}
.contaiener-login h2 {
  display: flex;
  justify-content: center;
}
.contaiener-login .ant-btn-primary {
  width: 100%;
}

/* HEADER */

.ant-layout-header .ant-avatar {
  float: right;
  margin: 6px;
}
.ant-layout-header .user-info {
  float: right;
  bottom: 5px;
  position: relative;
}

/* CHANNELS LIST NOT MOBILE */
#general-info-channel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#general-info-channel .ant-btn{
  border: none;
  box-shadow: none;
}
.container-channels-list-not-mobile {
  overflow-x: hidden;
  height: 400px;
}
.container-channels-list-not-mobile .item-channels .ant-card-body {
  padding: 10px;
  text-align: center;
}
.container-channels-list-not-mobile .item-channels .ant-card-body .ant-btn{
  height: 100%;
  border: none;
  box-shadow: none;
}

/* COMMUNITY CHAT */
.container-community-chat {
  justify-content: space-between;
}

  /* USER LIST NOT MOBILE */
.container-community-chat .container-user-list-not-mobile.container-header-chat-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  
  border-bottom: solid 1px whitesmoke;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  width: 89%;
}
.container-community-chat .container-user-list-not-mobile.container-header-chat-list .ant-list-item-meta {
  width: 80%;
  padding-left: 1rem;
}
.container-community-chat .container-user-list-not-mobile.container-header-chat-list button {
  box-shadow: none;
  height: auto;
  padding: 0;
}
.container-community-chat .container-user-list-not-mobile button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.container-community-chat .container-user-list-not-mobile .ant-list-item-meta-content .ant-list-item-meta-title,
.container-community-chat .container-user-list-not-mobile .ant-list-item-meta-content .ant-list-item-meta-description 
{    
  display: flex;
}
.container-community-chat .container-user-list-not-mobile .ant-badge-status-processing ,
.container-community-chat .container-user-list-not-mobile .ant-badge-status-error {
  top: 15px;
  right: 50px;
  height: 20px;
  width: 20px;
  border: solid 2px white;
}
.container-community-chat .container-user-list-not-mobile .ant-avatar {
  height: 50px;
  width: auto;
  border: solid 2px whitesmoke;
}

  /* USER LIST MOBILE */
.container-community-chat .container-user-list-mobile {    
  overflow-x: scroll;
}
.container-community-chat .container-user-list-mobile button {    
  border: none;
  background: transparent;
  cursor: pointer;
}
.container-community-chat .container-user-list-mobile .item-user{
  width: 50%;
  height: auto;
  border: none;
  box-shadow: none;
  background: #f5f5f5;
  padding: 5px;
}
.container-community-chat .container-user-list-mobile .item-user .ant-badge {
  top: 12px;
  right: 55px;
}
.container-community-chat .container-user-list-mobile .item-user .ant-badge .ant-badge-status-dot {
  height: 15px;
  width: 15px;
  border: solid 2px white;
}

  /* CHAT LIST */
.container-community-chat .container-chat-list {
  justify-content: center;
}
.container-community-chat .container-chat-list .chat-list {
  height: 400px;
  padding-top: 1rem;
  line-height: 1em;
  overflow-x: hidden;
  width: 100%;
}
.container-community-chat .container-chat-list .chat-list .ant-skeleton {
  padding: 10px;
}
.container-community-chat .container-chat-list .ant-list-item {
  border-block-end: none;
}
.container-community-chat .container-chat-list .ant-list-item .is-transmitter .ant-list-item-meta-avatar {
  margin-left: 1rem;    
}
.container-community-chat .container-chat-list .ant-list-item .is-not-transmitter .ant-list-item-meta-avatar .ant-avatar,
.container-community-chat .container-chat-list .ant-list-item .is-transmitter .ant-list-item-meta-avatar .ant-avatar {
  border: solid 2px whitesmoke; 
  height: 40px;
  width: auto;
}

.container-community-chat .container-chat-list .ant-list-items .is-transmitter .sms-actions,
.container-community-chat .container-chat-list .ant-list-items .is-not-transmitter .sms-actions { 
  display: flex;
  justify-content: flex-end;
}
.container-community-chat .container-chat-list .ant-list-items .is-transmitter .sms-actions a,
.container-community-chat .container-chat-list .ant-list-items .is-not-transmitter .sms-actions a {
  margin-left: 5px;
}
.container-community-chat .container-chat-list .ant-list-items .is-transmitter .sms-actions a {
  color: white;
}

.container-community-chat .container-chat-list .ant-list-items .is-transmitter .broadcast-date {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  color: #f5f5f5;
}
.container-community-chat .container-chat-list .ant-list-items .is-not-transmitter .broadcast-date {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  color: #1677ff;
}
.container-community-chat .container-chat-list .ant-list .is-transmitter {
 flex-direction: row-reverse;
}
.container-community-chat .container-chat-list .ant-list .is-transmitter .ant-list-item-meta-content {
  display: flex;
  justify-content: flex-end;
}
.container-community-chat .container-chat-list .ant-list .is-not-transmitter .ant-list-item-meta-content {
  display: flex;
  justify-content: flex-start;
}
.container-community-chat .container-chat-list .ant-list .is-transmitter .ant-list-item-meta-content .ant-list-item-meta-description {
  padding: 10px;
  font-size: 0.8em;
  background-color: #1677ff;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  color: white;
  max-width: 80%;    
}
.container-community-chat .container-chat-list .ant-list .is-not-transmitter .ant-list-item-meta-content .ant-list-item-meta-description {
  padding: 10px;
  font-size: 0.8em;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  max-width: 80%;
  color: black;
}
.container-community-chat .container-chat-list .container-chat-form {
  justify-content: flex-end;
}
.container-community-chat .container-chat-list .container-chat-form .chat-form {
  display: flex;
  flex-direction: row;
}

.container-community-chat .container-chat-list .container-chat-form .chat-form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 0;
}
.container-community-chat .container-chat-list .container-chat-form .chat-form button {
  border-radius: 0;
  width: 100%;
}
.container-community-chat .container-chat-list .container-chat-form .ant-form-item:first-child {
  position: sticky;
  width: 80%;
  margin-inline-end: 0;
}
.container-community-chat .container-chat-list .container-chat-form .ant-form-item:last-child {
  position: sticky;
  width: 20%;
  margin-inline-end: 0;
}

  /* DRAWER USER PROFILE */
.drawer-user-profile .ant-drawer-body {
  padding: 0;
}
.drawer-user-profile .ant-drawer-header .ant-drawer-extra .ant-btn {
  border: none;
  box-shadow: none;
}
.drawer-user-profile .ant-drawer-body .contaiener-drawer-user-info {
  padding: 1rem 1rem 0 1rem;
  align-items: center;
}
.drawer-user-profile .ant-drawer-body .contaiener-drawer-user-info h4 {
  margin: 0;
  color:  #313131;
  font-size: 1.5rem;
}
.drawer-user-profile .ant-drawer-body .contaiener-drawer-user-info .anticon {
  font-size: 2rem;
  color: #919598;
}

.container-community-chat .ant-dropdown-trigger {
  margin: 1rem;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
.container-channels-list-not-mobile::-webkit-scrollbar,
.container-user-list-mobile::-webkit-scrollbar,
.container-user-list-not-mobile::-webkit-scrollbar,
.chat-list::-webkit-scrollbar {
  -webkit-appearance: none;
}
.container-channels-list-not-mobile::-webkit-scrollbar:vertical,
.container-user-list-mobile::-webkit-scrollbar:vertical,
.container-user-list-not-mobile::-webkit-scrollbar:vertical,
.chat-list::-webkit-scrollbar:vertical {
  width:3px;
}
.container-channels-list-not-mobile::-webkit-scrollbar-button:increment,
.container-channels-list-not-mobile::-webkit-scrollbar-button,
.container-user-list-mobile::-webkit-scrollbar-button:increment,
.container-user-list-mobile::-webkit-scrollbar-button,
.container-user-list-not-mobile::-webkit-scrollbar-button:increment,
.container-user-list-not-mobile::-webkit-scrollbar-button,
.chat-list::-webkit-scrollbar-button:increment,
.chat-list::-webkit-scrollbar-button {
  display: none;
} 
.container-channels-list-not-mobilee::-webkit-scrollbar:horizontal,
.container-user-list-mobile::-webkit-scrollbar:horizontal,
.container-user-list-not-mobile::-webkit-scrollbar:horizontal,
.chat-list::-webkit-scrollbar:horizontal {
  height: 10px;
}
.container-channels-list-not-mobile::-webkit-scrollbar-thumb,
.container-user-list-mobile::-webkit-scrollbar-thumb,
.container-user-list-not-mobile::-webkit-scrollbar-thumb,
.chat-list::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
  border: 4px solid #f1f2f3;
}
/* END COMMUNITY CHAT */